body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    min-height: 100vh;
    color: #333;
}

.container {
    /* width: 80%; */
    max-width: 1000px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn, .reject-btn {
    padding: 10px 20px;
    margin: 10px 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}

.reject-btn {
    background-color: #f44336;
    color: white;
    transition: background-color 0.3s;
}

.reject-btn:hover {
    background-color: #e53935;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal-content input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Centering PRN number and Name */
.prn-container {
    text-align: center;
    margin-bottom: 20px;
}

/* Center the buttons in one row */
.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.submit-button, .cancel-button {
    width: 48%;  /* Ensure buttons take up equal space */
    padding: 10px 15px;
    margin: 10px 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
}

.submit-button:hover {
    background-color: #45a049;
}

.cancel-button {
    background-color: #f44336;
    color: white;
}

.cancel-button:hover {
    background-color: #e53935;
}

.table-responsive {
    padding: 2px;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
}

/* @media (max-width: 600px) {
    table, th, td {
        font-size: 14px;
    }
} */

@media (min-width: 1024px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
    }

    .container {
        margin: 0 auto;
    }
}

